@font-face {
  font-family: 'MaterialDesignIcons';
  src: url("fonts/materialdesignicons-webfont.eot?v=1.2.64");
  src: url("fonts/materialdesignicons-webfont.eot?#iefix&v=1.2.64") format("embedded-opentype"), url("fonts/materialdesignicons-webfont.woff2?v=1.2.64") format("woff2"), url("fonts/materialdesignicons-webfont.woff?v=1.2.64") format("woff"), url("fonts/materialdesignicons-webfont.ttf?v=1.2.64") format("truetype"), url("fonts/materialdesignicons-webfont.svg?v=1.2.64#materialdesigniconsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.mdi {
  display: inline-block;
  font: normal normal normal 24px/1 MaterialDesignIcons;
  font-size: 30px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.mdi-account:before {
  content: "\f101";
}
.mdi-account-alert:before {
  content: "\f102";
}
.mdi-account-box:before {
  content: "\f103";
}
.mdi-account-box-outline:before {
  content: "\f104";
}
.mdi-account-check:before {
  content: "\f105";
}
.mdi-account-circle:before {
  content: "\f106";
}
.mdi-account-key:before {
  content: "\f107";
}
.mdi-account-location:before {
  content: "\f108";
}
.mdi-account-minus:before {
  content: "\f109";
}
.mdi-account-multiple:before {
  content: "\f10a";
}
.mdi-account-multiple-outline:before {
  content: "\f10b";
}
.mdi-account-multiple-plus:before {
  content: "\f10c";
}
.mdi-account-network:before {
  content: "\f10d";
}
.mdi-account-outline:before {
  content: "\f10e";
}
.mdi-account-plus:before {
  content: "\f10f";
}
.mdi-account-remove:before {
  content: "\f110";
}
.mdi-account-search:before {
  content: "\f111";
}
.mdi-account-star:before {
  content: "\f112";
}
.mdi-account-star-variant:before {
  content: "\f113";
}
.mdi-account-switch:before {
  content: "\f114";
}
.mdi-airballoon:before {
  content: "\f115";
}
.mdi-airplane:before {
  content: "\f116";
}
.mdi-airplane-off:before {
  content: "\f117";
}
.mdi-alarm:before {
  content: "\f118";
}
.mdi-alarm-check:before {
  content: "\f119";
}
.mdi-alarm-multiple:before {
  content: "\f11a";
}
.mdi-alarm-off:before {
  content: "\f11b";
}
.mdi-alarm-plus:before {
  content: "\f11c";
}
.mdi-album:before {
  content: "\f11d";
}
.mdi-alert:before {
  content: "\f11e";
}
.mdi-alert-box:before {
  content: "\f11f";
}
.mdi-alert-circle:before {
  content: "\f120";
}
.mdi-alert-octagon:before {
  content: "\f121";
}
.mdi-alpha:before {
  content: "\f122";
}
.mdi-alphabetical:before {
  content: "\f123";
}
.mdi-amazon:before {
  content: "\f124";
}
.mdi-amazon-clouddrive:before {
  content: "\f125";
}
.mdi-ambulance:before {
  content: "\f126";
}
.mdi-android:before {
  content: "\f127";
}
.mdi-android-debug-bridge:before {
  content: "\f128";
}
.mdi-android-studio:before {
  content: "\f129";
}
.mdi-apple:before {
  content: "\f12a";
}
.mdi-apple-finder:before {
  content: "\f12b";
}
.mdi-apple-ios:before {
  content: "\f12c";
}
.mdi-apple-mobileme:before {
  content: "\f12d";
}
.mdi-apple-safari:before {
  content: "\f12e";
}
.mdi-appnet:before {
  content: "\f12f";
}
.mdi-apps:before {
  content: "\f130";
}
.mdi-archive:before {
  content: "\f131";
}
.mdi-arrange-bring-forward:before {
  content: "\f132";
}
.mdi-arrange-bring-to-front:before {
  content: "\f133";
}
.mdi-arrange-send-backward:before {
  content: "\f134";
}
.mdi-arrange-send-to-back:before {
  content: "\f135";
}
.mdi-arrow-all:before {
  content: "\f136";
}
.mdi-arrow-bottom-left:before {
  content: "\f137";
}
.mdi-arrow-bottom-right:before {
  content: "\f138";
}
.mdi-arrow-collapse:before {
  content: "\f139";
}
.mdi-arrow-down:before {
  content: "\f13a";
}
.mdi-arrow-down-bold:before {
  content: "\f13b";
}
.mdi-arrow-down-bold-circle:before {
  content: "\f13c";
}
.mdi-arrow-down-bold-circle-outline:before {
  content: "\f13d";
}
.mdi-arrow-down-bold-hexagon-outline:before {
  content: "\f13e";
}
.mdi-arrow-expand:before {
  content: "\f13f";
}
.mdi-arrow-left:before {
  content: "\f140";
}
.mdi-arrow-left-bold:before {
  content: "\f141";
}
.mdi-arrow-left-bold-circle:before {
  content: "\f142";
}
.mdi-arrow-left-bold-circle-outline:before {
  content: "\f143";
}
.mdi-arrow-left-bold-hexagon-outline:before {
  content: "\f144";
}
.mdi-arrow-right:before {
  content: "\f145";
}
.mdi-arrow-right-bold:before {
  content: "\f146";
}
.mdi-arrow-right-bold-circle:before {
  content: "\f147";
}
.mdi-arrow-right-bold-circle-outline:before {
  content: "\f148";
}
.mdi-arrow-right-bold-hexagon-outline:before {
  content: "\f149";
}
.mdi-arrow-top-left:before {
  content: "\f14a";
}
.mdi-arrow-top-right:before {
  content: "\f14b";
}
.mdi-arrow-up:before {
  content: "\f14c";
}
.mdi-arrow-up-bold:before {
  content: "\f14d";
}
.mdi-arrow-up-bold-circle:before {
  content: "\f14e";
}
.mdi-arrow-up-bold-circle-outline:before {
  content: "\f14f";
}
.mdi-arrow-up-bold-hexagon-outline:before {
  content: "\f150";
}
.mdi-at:before {
  content: "\f151";
}
.mdi-attachment:before {
  content: "\f152";
}
.mdi-audiobook:before {
  content: "\f153";
}
.mdi-auto-fix:before {
  content: "\f154";
}
.mdi-auto-upload:before {
  content: "\f155";
}
.mdi-baby:before {
  content: "\f156";
}
.mdi-backburger:before {
  content: "\f157";
}
.mdi-backup-restore:before {
  content: "\f158";
}
.mdi-bank:before {
  content: "\f159";
}
.mdi-barcode:before {
  content: "\f15a";
}
.mdi-barley:before {
  content: "\f15b";
}
.mdi-barrel:before {
  content: "\f15c";
}
.mdi-basecamp:before {
  content: "\f15d";
}
.mdi-basket:before {
  content: "\f15e";
}
.mdi-basket-fill:before {
  content: "\f15f";
}
.mdi-basket-unfill:before {
  content: "\f160";
}
.mdi-battery:before {
  content: "\f161";
}
.mdi-battery-10:before {
  content: "\f162";
}
.mdi-battery-20:before {
  content: "\f163";
}
.mdi-battery-30:before {
  content: "\f164";
}
.mdi-battery-40:before {
  content: "\f165";
}
.mdi-battery-50:before {
  content: "\f166";
}
.mdi-battery-60:before {
  content: "\f167";
}
.mdi-battery-70:before {
  content: "\f168";
}
.mdi-battery-80:before {
  content: "\f169";
}
.mdi-battery-90:before {
  content: "\f16a";
}
.mdi-battery-alert:before {
  content: "\f16b";
}
.mdi-battery-charging-100:before {
  content: "\f16c";
}
.mdi-battery-charging-20:before {
  content: "\f16d";
}
.mdi-battery-charging-30:before {
  content: "\f16e";
}
.mdi-battery-charging-40:before {
  content: "\f16f";
}
.mdi-battery-charging-60:before {
  content: "\f170";
}
.mdi-battery-charging-80:before {
  content: "\f171";
}
.mdi-battery-charging-90:before {
  content: "\f172";
}
.mdi-battery-minus:before {
  content: "\f173";
}
.mdi-battery-negative:before {
  content: "\f174";
}
.mdi-battery-outline:before {
  content: "\f175";
}
.mdi-battery-plus:before {
  content: "\f176";
}
.mdi-battery-positive:before {
  content: "\f177";
}
.mdi-battery-unknown:before {
  content: "\f178";
}
.mdi-beach:before {
  content: "\f179";
}
.mdi-beaker:before {
  content: "\f17a";
}
.mdi-beaker-empty:before {
  content: "\f17b";
}
.mdi-beaker-empty-outline:before {
  content: "\f17c";
}
.mdi-beaker-outline:before {
  content: "\f17d";
}
.mdi-beats:before {
  content: "\f17e";
}
.mdi-beer:before {
  content: "\f17f";
}
.mdi-behance:before {
  content: "\f180";
}
.mdi-bell:before {
  content: "\f181";
}
.mdi-bell-off:before {
  content: "\f182";
}
.mdi-bell-outline:before {
  content: "\f183";
}
.mdi-bell-ring:before {
  content: "\f184";
}
.mdi-bell-ring-outline:before {
  content: "\f185";
}
.mdi-bell-sleep:before {
  content: "\f186";
}
.mdi-beta:before {
  content: "\f187";
}
.mdi-bike:before {
  content: "\f188";
}
.mdi-bing:before {
  content: "\f189";
}
.mdi-binoculars:before {
  content: "\f18a";
}
.mdi-bio:before {
  content: "\f18b";
}
.mdi-biohazard:before {
  content: "\f18c";
}
.mdi-bitbucket:before {
  content: "\f18d";
}
.mdi-black-mesa:before {
  content: "\f18e";
}
.mdi-blackberry:before {
  content: "\f18f";
}
.mdi-blinds:before {
  content: "\f190";
}
.mdi-block-helper:before {
  content: "\f191";
}
.mdi-blogger:before {
  content: "\f192";
}
.mdi-bluetooth:before {
  content: "\f193";
}
.mdi-bluetooth-audio:before {
  content: "\f194";
}
.mdi-bluetooth-connect:before {
  content: "\f195";
}
.mdi-bluetooth-settings:before {
  content: "\f196";
}
.mdi-bluetooth-transfer:before {
  content: "\f197";
}
.mdi-blur:before {
  content: "\f198";
}
.mdi-blur-linear:before {
  content: "\f199";
}
.mdi-blur-off:before {
  content: "\f19a";
}
.mdi-blur-radial:before {
  content: "\f19b";
}
.mdi-bone:before {
  content: "\f19c";
}
.mdi-book:before {
  content: "\f19d";
}
.mdi-book-multiple:before {
  content: "\f19e";
}
.mdi-book-multiple-variant:before {
  content: "\f19f";
}
.mdi-book-open:before {
  content: "\f1a0";
}
.mdi-book-variant:before {
  content: "\f1a1";
}
.mdi-bookmark:before {
  content: "\f1a2";
}
.mdi-bookmark-check:before {
  content: "\f1a3";
}
.mdi-bookmark-music:before {
  content: "\f1a4";
}
.mdi-bookmark-outline:before {
  content: "\f1a5";
}
.mdi-bookmark-outline-plus:before {
  content: "\f1a6";
}
.mdi-bookmark-plus:before {
  content: "\f1a7";
}
.mdi-bookmark-remove:before {
  content: "\f1a8";
}
.mdi-border-all:before {
  content: "\f1a9";
}
.mdi-border-bottom:before {
  content: "\f1aa";
}
.mdi-border-color:before {
  content: "\f1ab";
}
.mdi-border-horizontal:before {
  content: "\f1ac";
}
.mdi-border-inside:before {
  content: "\f1ad";
}
.mdi-border-left:before {
  content: "\f1ae";
}
.mdi-border-none:before {
  content: "\f1af";
}
.mdi-border-outside:before {
  content: "\f1b0";
}
.mdi-border-right:before {
  content: "\f1b1";
}
.mdi-border-top:before {
  content: "\f1b2";
}
.mdi-border-vertical:before {
  content: "\f1b3";
}
.mdi-bowling:before {
  content: "\f1b4";
}
.mdi-box:before {
  content: "\f1b5";
}
.mdi-briefcase:before {
  content: "\f1b6";
}
.mdi-briefcase-check:before {
  content: "\f1b7";
}
.mdi-briefcase-download:before {
  content: "\f1b8";
}
.mdi-briefcase-upload:before {
  content: "\f1b9";
}
.mdi-brightness-1:before {
  content: "\f1ba";
}
.mdi-brightness-2:before {
  content: "\f1bb";
}
.mdi-brightness-3:before {
  content: "\f1bc";
}
.mdi-brightness-4:before {
  content: "\f1bd";
}
.mdi-brightness-5:before {
  content: "\f1be";
}
.mdi-brightness-6:before {
  content: "\f1bf";
}
.mdi-brightness-7:before {
  content: "\f1c0";
}
.mdi-brightness-auto:before {
  content: "\f1c1";
}
.mdi-broom:before {
  content: "\f1c2";
}
.mdi-brush:before {
  content: "\f1c3";
}
.mdi-bug:before {
  content: "\f1c4";
}
.mdi-bulletin-board:before {
  content: "\f1c5";
}
.mdi-bullhorn:before {
  content: "\f1c6";
}
.mdi-bus:before {
  content: "\f1c7";
}
.mdi-cake:before {
  content: "\f1c8";
}
.mdi-cake-variant:before {
  content: "\f1c9";
}
.mdi-calculator:before {
  content: "\f1ca";
}
.mdi-calendar:before {
  content: "\f1cb";
}
.mdi-calendar-blank:before {
  content: "\f1cc";
}
.mdi-calendar-check:before {
  content: "\f1cd";
}
.mdi-calendar-clock:before {
  content: "\f1ce";
}
.mdi-calendar-multiple:before {
  content: "\f1cf";
}
.mdi-calendar-multiple-check:before {
  content: "\f1d0";
}
.mdi-calendar-plus:before {
  content: "\f1d1";
}
.mdi-calendar-remove:before {
  content: "\f1d2";
}
.mdi-calendar-text:before {
  content: "\f1d3";
}
.mdi-calendar-today:before {
  content: "\f1d4";
}
.mdi-camcorder:before {
  content: "\f1d5";
}
.mdi-camcorder-box:before {
  content: "\f1d6";
}
.mdi-camcorder-box-off:before {
  content: "\f1d7";
}
.mdi-camcorder-off:before {
  content: "\f1d8";
}
.mdi-camera:before {
  content: "\f1d9";
}
.mdi-camera-front:before {
  content: "\f1da";
}
.mdi-camera-front-variant:before {
  content: "\f1db";
}
.mdi-camera-iris:before {
  content: "\f1dc";
}
.mdi-camera-party-mode:before {
  content: "\f1dd";
}
.mdi-camera-rear:before {
  content: "\f1de";
}
.mdi-camera-rear-variant:before {
  content: "\f1df";
}
.mdi-camera-switch:before {
  content: "\f1e0";
}
.mdi-camera-timer:before {
  content: "\f1e1";
}
.mdi-candycane:before {
  content: "\f1e2";
}
.mdi-car:before {
  content: "\f1e3";
}
.mdi-car-wash:before {
  content: "\f1e4";
}
.mdi-carrot:before {
  content: "\f1e5";
}
.mdi-cart:before {
  content: "\f1e6";
}
.mdi-cart-outline:before {
  content: "\f1e7";
}
.mdi-cash:before {
  content: "\f1e8";
}
.mdi-cash-100:before {
  content: "\f1e9";
}
.mdi-cash-multiple:before {
  content: "\f1ea";
}
.mdi-cash-usd:before {
  content: "\f1eb";
}
.mdi-cast:before {
  content: "\f1ec";
}
.mdi-cast-connected:before {
  content: "\f1ed";
}
.mdi-castle:before {
  content: "\f1ee";
}
.mdi-cat:before {
  content: "\f1ef";
}
.mdi-cellphone:before {
  content: "\f1f0";
}
.mdi-cellphone-android:before {
  content: "\f1f1";
}
.mdi-cellphone-dock:before {
  content: "\f1f2";
}
.mdi-cellphone-iphone:before {
  content: "\f1f3";
}
.mdi-cellphone-link:before {
  content: "\f1f4";
}
.mdi-cellphone-link-off:before {
  content: "\f1f5";
}
.mdi-cellphone-settings:before {
  content: "\f1f6";
}
.mdi-chair-school:before {
  content: "\f1f7";
}
.mdi-chart-arc:before {
  content: "\f1f8";
}
.mdi-chart-areaspline:before {
  content: "\f1f9";
}
.mdi-chart-bar:before {
  content: "\f1fa";
}
.mdi-chart-histogram:before {
  content: "\f1fb";
}
.mdi-chart-line:before {
  content: "\f1fc";
}
.mdi-chart-pie:before {
  content: "\f1fd";
}
.mdi-check:before {
  content: "\f1fe";
}
.mdi-check-all:before {
  content: "\f1ff";
}
.mdi-checkbox-blank:before {
  content: "\f200";
}
.mdi-checkbox-blank-circle:before {
  content: "\f201";
}
.mdi-checkbox-blank-circle-outline:before {
  content: "\f202";
}
.mdi-checkbox-blank-outline:before {
  content: "\f203";
}
.mdi-checkbox-marked:before {
  content: "\f204";
}
.mdi-checkbox-marked-circle:before {
  content: "\f205";
}
.mdi-checkbox-marked-circle-outline:before {
  content: "\f206";
}
.mdi-checkbox-marked-outline:before {
  content: "\f207";
}
.mdi-checkbox-multiple-blank:before {
  content: "\f208";
}
.mdi-checkbox-multiple-blank-outline:before {
  content: "\f209";
}
.mdi-checkbox-multiple-marked:before {
  content: "\f20a";
}
.mdi-checkbox-multiple-marked-outline:before {
  content: "\f20b";
}
.mdi-checkerboard:before {
  content: "\f20c";
}
.mdi-chevron-double-down:before {
  content: "\f20d";
}
.mdi-chevron-double-left:before {
  content: "\f20e";
}
.mdi-chevron-double-right:before {
  content: "\f20f";
}
.mdi-chevron-double-up:before {
  content: "\f210";
}
.mdi-chevron-down:before {
  content: "\f211";
}
.mdi-chevron-left:before {
  content: "\f212";
}
.mdi-chevron-right:before {
  content: "\f213";
}
.mdi-chevron-up:before {
  content: "\f214";
}
.mdi-church:before {
  content: "\f215";
}
.mdi-cisco-webex:before {
  content: "\f216";
}
.mdi-city:before {
  content: "\f217";
}
.mdi-clipboard:before {
  content: "\f218";
}
.mdi-clipboard-account:before {
  content: "\f219";
}
.mdi-clipboard-alert:before {
  content: "\f21a";
}
.mdi-clipboard-arrow-down:before {
  content: "\f21b";
}
.mdi-clipboard-arrow-left:before {
  content: "\f21c";
}
.mdi-clipboard-check:before {
  content: "\f21d";
}
.mdi-clipboard-outline:before {
  content: "\f21e";
}
.mdi-clipboard-text:before {
  content: "\f21f";
}
.mdi-clippy:before {
  content: "\f220";
}
.mdi-clock:before {
  content: "\f221";
}
.mdi-clock-fast:before {
  content: "\f222";
}
.mdi-close:before {
  content: "\f223";
}
.mdi-close-box:before {
  content: "\f224";
}
.mdi-close-box-outline:before {
  content: "\f225";
}
.mdi-close-circle:before {
  content: "\f226";
}
.mdi-close-circle-outline:before {
  content: "\f227";
}
.mdi-close-network:before {
  content: "\f228";
}
.mdi-closed-caption:before {
  content: "\f229";
}
.mdi-cloud:before {
  content: "\f22a";
}
.mdi-cloud-check:before {
  content: "\f22b";
}
.mdi-cloud-circle:before {
  content: "\f22c";
}
.mdi-cloud-download:before {
  content: "\f22d";
}
.mdi-cloud-outline:before {
  content: "\f22e";
}
.mdi-cloud-outline-off:before {
  content: "\f22f";
}
.mdi-cloud-upload:before {
  content: "\f230";
}
.mdi-code-array:before {
  content: "\f231";
}
.mdi-code-braces:before {
  content: "\f232";
}
.mdi-code-equal:before {
  content: "\f233";
}
.mdi-code-greater-than:before {
  content: "\f234";
}
.mdi-code-less-than:before {
  content: "\f235";
}
.mdi-code-less-than-or-equal:before {
  content: "\f236";
}
.mdi-code-not-equal:before {
  content: "\f237";
}
.mdi-code-not-equal-variant:before {
  content: "\f238";
}
.mdi-code-string:before {
  content: "\f239";
}
.mdi-code-tags:before {
  content: "\f23a";
}
.mdi-codepen:before {
  content: "\f23b";
}
.mdi-coffee:before {
  content: "\f23c";
}
.mdi-coffee-to-go:before {
  content: "\f23d";
}
.mdi-coin:before {
  content: "\f23e";
}
.mdi-color-helper:before {
  content: "\f23f";
}
.mdi-comment:before {
  content: "\f240";
}
.mdi-comment-account:before {
  content: "\f241";
}
.mdi-comment-account-outline:before {
  content: "\f242";
}
.mdi-comment-alert:before {
  content: "\f243";
}
.mdi-comment-alert-outline:before {
  content: "\f244";
}
.mdi-comment-check:before {
  content: "\f245";
}
.mdi-comment-check-outline:before {
  content: "\f246";
}
.mdi-comment-multiple-outline:before {
  content: "\f247";
}
.mdi-comment-outline:before {
  content: "\f248";
}
.mdi-comment-plus-outline:before {
  content: "\f249";
}
.mdi-comment-processing:before {
  content: "\f24a";
}
.mdi-comment-processing-outline:before {
  content: "\f24b";
}
.mdi-comment-remove-outline:before {
  content: "\f24c";
}
.mdi-comment-text:before {
  content: "\f24d";
}
.mdi-comment-text-outline:before {
  content: "\f24e";
}
.mdi-compare:before {
  content: "\f24f";
}
.mdi-compass:before {
  content: "\f250";
}
.mdi-compass-outline:before {
  content: "\f251";
}
.mdi-console:before {
  content: "\f252";
}
.mdi-content-copy:before {
  content: "\f253";
}
.mdi-content-cut:before {
  content: "\f254";
}
.mdi-content-duplicate:before {
  content: "\f255";
}
.mdi-content-paste:before {
  content: "\f256";
}
.mdi-content-save:before {
  content: "\f257";
}
.mdi-content-save-all:before {
  content: "\f258";
}
.mdi-contrast:before {
  content: "\f259";
}
.mdi-contrast-box:before {
  content: "\f25a";
}
.mdi-contrast-circle:before {
  content: "\f25b";
}
.mdi-cow:before {
  content: "\f25c";
}
.mdi-credit-card:before {
  content: "\f25d";
}
.mdi-credit-card-multiple:before {
  content: "\f25e";
}
.mdi-crop:before {
  content: "\f25f";
}
.mdi-crop-free:before {
  content: "\f260";
}
.mdi-crop-landscape:before {
  content: "\f261";
}
.mdi-crop-portrait:before {
  content: "\f262";
}
.mdi-crop-square:before {
  content: "\f263";
}
.mdi-crosshairs:before {
  content: "\f264";
}
.mdi-crosshairs-gps:before {
  content: "\f265";
}
.mdi-crown:before {
  content: "\f266";
}
.mdi-cube:before {
  content: "\f267";
}
.mdi-cube-outline:before {
  content: "\f268";
}
.mdi-cube-unfolded:before {
  content: "\f269";
}
.mdi-cup:before {
  content: "\f26a";
}
.mdi-cup-water:before {
  content: "\f26b";
}
.mdi-currency-btc:before {
  content: "\f26c";
}
.mdi-currency-eur:before {
  content: "\f26d";
}
.mdi-currency-gbp:before {
  content: "\f26e";
}
.mdi-currency-inr:before {
  content: "\f26f";
}
.mdi-currency-rub:before {
  content: "\f270";
}
.mdi-currency-try:before {
  content: "\f271";
}
.mdi-currency-usd:before {
  content: "\f272";
}
.mdi-cursor-default:before {
  content: "\f273";
}
.mdi-cursor-default-outline:before {
  content: "\f274";
}
.mdi-cursor-move:before {
  content: "\f275";
}
.mdi-cursor-pointer:before {
  content: "\f276";
}
.mdi-database:before {
  content: "\f277";
}
.mdi-database-minus:before {
  content: "\f278";
}
.mdi-database-outline:before {
  content: "\f279";
}
.mdi-database-plus:before {
  content: "\f27a";
}
.mdi-debug-step-into:before {
  content: "\f27b";
}
.mdi-debug-step-out:before {
  content: "\f27c";
}
.mdi-debug-step-over:before {
  content: "\f27d";
}
.mdi-decimal-decrease:before {
  content: "\f27e";
}
.mdi-decimal-increase:before {
  content: "\f27f";
}
.mdi-delete:before {
  content: "\f280";
}
.mdi-delete-variant:before {
  content: "\f281";
}
.mdi-deskphone:before {
  content: "\f282";
}
.mdi-desktop-mac:before {
  content: "\f283";
}
.mdi-desktop-tower:before {
  content: "\f284";
}
.mdi-details:before {
  content: "\f285";
}
.mdi-deviantart:before {
  content: "\f286";
}
.mdi-diamond:before {
  content: "\f287";
}
.mdi-dice:before {
  content: "\f288";
}
.mdi-dice-1:before {
  content: "\f289";
}
.mdi-dice-2:before {
  content: "\f28a";
}
.mdi-dice-3:before {
  content: "\f28b";
}
.mdi-dice-4:before {
  content: "\f28c";
}
.mdi-dice-5:before {
  content: "\f28d";
}
.mdi-dice-6:before {
  content: "\f28e";
}
.mdi-directions:before {
  content: "\f28f";
}
.mdi-disk-alert:before {
  content: "\f290";
}
.mdi-disqus:before {
  content: "\f291";
}
.mdi-disqus-outline:before {
  content: "\f292";
}
.mdi-division:before {
  content: "\f293";
}
.mdi-division-box:before {
  content: "\f294";
}
.mdi-dns:before {
  content: "\f295";
}
.mdi-domain:before {
  content: "\f296";
}
.mdi-dots-horizontal:before {
  content: "\f297";
}
.mdi-dots-vertical:before {
  content: "\f298";
}
.mdi-download:before {
  content: "\f299";
}
.mdi-drag:before {
  content: "\f29a";
}
.mdi-drag-horizontal:before {
  content: "\f29b";
}
.mdi-drag-vertical:before {
  content: "\f29c";
}
.mdi-drawing:before {
  content: "\f29d";
}
.mdi-drawing-box:before {
  content: "\f29e";
}
.mdi-dribbble:before {
  content: "\f29f";
}
.mdi-dribbble-box:before {
  content: "\f2a0";
}
.mdi-drone:before {
  content: "\f2a1";
}
.mdi-dropbox:before {
  content: "\f2a2";
}
.mdi-drupal:before {
  content: "\f2a3";
}
.mdi-duck:before {
  content: "\f2a4";
}
.mdi-dumbbell:before {
  content: "\f2a5";
}
.mdi-earth:before {
  content: "\f2a6";
}
.mdi-earth-off:before {
  content: "\f2a7";
}
.mdi-edge:before {
  content: "\f2a8";
}
.mdi-eject:before {
  content: "\f2a9";
}
.mdi-elevation-decline:before {
  content: "\f2aa";
}
.mdi-elevation-rise:before {
  content: "\f2ab";
}
.mdi-elevator:before {
  content: "\f2ac";
}
.mdi-email:before {
  content: "\f2ad";
}
.mdi-email-open:before {
  content: "\f2ae";
}
.mdi-email-outline:before {
  content: "\f2af";
}
.mdi-email-secure:before {
  content: "\f2b0";
}
.mdi-emoticon:before {
  content: "\f2b1";
}
.mdi-emoticon-cool:before {
  content: "\f2b2";
}
.mdi-emoticon-devil:before {
  content: "\f2b3";
}
.mdi-emoticon-happy:before {
  content: "\f2b4";
}
.mdi-emoticon-neutral:before {
  content: "\f2b5";
}
.mdi-emoticon-poop:before {
  content: "\f2b6";
}
.mdi-emoticon-sad:before {
  content: "\f2b7";
}
.mdi-emoticon-tongue:before {
  content: "\f2b8";
}
.mdi-engine:before {
  content: "\f2b9";
}
.mdi-engine-outline:before {
  content: "\f2ba";
}
.mdi-equal:before {
  content: "\f2bb";
}
.mdi-equal-box:before {
  content: "\f2bc";
}
.mdi-eraser:before {
  content: "\f2bd";
}
.mdi-escalator:before {
  content: "\f2be";
}
.mdi-etsy:before {
  content: "\f2bf";
}
.mdi-evernote:before {
  content: "\f2c0";
}
.mdi-exclamation:before {
  content: "\f2c1";
}
.mdi-exit-to-app:before {
  content: "\f2c2";
}
.mdi-export:before {
  content: "\f2c3";
}
.mdi-eye:before {
  content: "\f2c4";
}
.mdi-eye-off:before {
  content: "\f2c5";
}
.mdi-eyedropper:before {
  content: "\f2c6";
}
.mdi-eyedropper-variant:before {
  content: "\f2c7";
}
.mdi-facebook:before {
  content: "\f2c8";
}
.mdi-facebook-box:before {
  content: "\f2c9";
}
.mdi-facebook-messenger:before {
  content: "\f2ca";
}
.mdi-factory:before {
  content: "\f2cb";
}
.mdi-fan:before {
  content: "\f2cc";
}
.mdi-fast-forward:before {
  content: "\f2cd";
}
.mdi-ferry:before {
  content: "\f2ce";
}
.mdi-file:before {
  content: "\f2cf";
}
.mdi-file-cloud:before {
  content: "\f2d0";
}
.mdi-file-delimited:before {
  content: "\f2d1";
}
.mdi-file-document:before {
  content: "\f2d2";
}
.mdi-file-document-box:before {
  content: "\f2d3";
}
.mdi-file-excel:before {
  content: "\f2d4";
}
.mdi-file-excel-box:before {
  content: "\f2d5";
}
.mdi-file-find:before {
  content: "\f2d6";
}
.mdi-file-image:before {
  content: "\f2d7";
}
.mdi-file-image-box:before {
  content: "\f2d8";
}
.mdi-file-multiple:before {
  content: "\f2d9";
}
.mdi-file-music:before {
  content: "\f2da";
}
.mdi-file-outline:before {
  content: "\f2db";
}
.mdi-file-pdf:before {
  content: "\f2dc";
}
.mdi-file-pdf-box:before {
  content: "\f2dd";
}
.mdi-file-powerpoint:before {
  content: "\f2de";
}
.mdi-file-powerpoint-box:before {
  content: "\f2df";
}
.mdi-file-presentation-box:before {
  content: "\f2e0";
}
.mdi-file-video:before {
  content: "\f2e1";
}
.mdi-file-word:before {
  content: "\f2e2";
}
.mdi-file-word-box:before {
  content: "\f2e3";
}
.mdi-file-xml:before {
  content: "\f2e4";
}
.mdi-film:before {
  content: "\f2e5";
}
.mdi-filmstrip:before {
  content: "\f2e6";
}
.mdi-filmstrip-off:before {
  content: "\f2e7";
}
.mdi-filter:before {
  content: "\f2e8";
}
.mdi-filter-outline:before {
  content: "\f2e9";
}
.mdi-filter-remove:before {
  content: "\f2ea";
}
.mdi-filter-remove-outline:before {
  content: "\f2eb";
}
.mdi-filter-variant:before {
  content: "\f2ec";
}
.mdi-fire:before {
  content: "\f2ed";
}
.mdi-firefox:before {
  content: "\f2ee";
}
.mdi-fish:before {
  content: "\f2ef";
}
.mdi-flag:before {
  content: "\f2f0";
}
.mdi-flag-checkered:before {
  content: "\f2f1";
}
.mdi-flag-outline:before {
  content: "\f2f2";
}
.mdi-flag-outline-variant:before {
  content: "\f2f3";
}
.mdi-flag-triangle:before {
  content: "\f2f4";
}
.mdi-flag-variant:before {
  content: "\f2f5";
}
.mdi-flash:before {
  content: "\f2f6";
}
.mdi-flash-auto:before {
  content: "\f2f7";
}
.mdi-flash-off:before {
  content: "\f2f8";
}
.mdi-flashlight:before {
  content: "\f2f9";
}
.mdi-flashlight-off:before {
  content: "\f2fa";
}
.mdi-flattr:before {
  content: "\f2fb";
}
.mdi-flip-to-back:before {
  content: "\f2fc";
}
.mdi-flip-to-front:before {
  content: "\f2fd";
}
.mdi-floppy:before {
  content: "\f2fe";
}
.mdi-flower:before {
  content: "\f2ff";
}
.mdi-folder:before {
  content: "\f300";
}
.mdi-folder-account:before {
  content: "\f301";
}
.mdi-folder-download:before {
  content: "\f302";
}
.mdi-folder-google-drive:before {
  content: "\f303";
}
.mdi-folder-image:before {
  content: "\f304";
}
.mdi-folder-lock:before {
  content: "\f305";
}
.mdi-folder-lock-open:before {
  content: "\f306";
}
.mdi-folder-move:before {
  content: "\f307";
}
.mdi-folder-multiple:before {
  content: "\f308";
}
.mdi-folder-multiple-image:before {
  content: "\f309";
}
.mdi-folder-multiple-outline:before {
  content: "\f30a";
}
.mdi-folder-outline:before {
  content: "\f30b";
}
.mdi-folder-plus:before {
  content: "\f30c";
}
.mdi-folder-remove:before {
  content: "\f30d";
}
.mdi-folder-upload:before {
  content: "\f30e";
}
.mdi-food:before {
  content: "\f30f";
}
.mdi-food-apple:before {
  content: "\f310";
}
.mdi-food-variant:before {
  content: "\f311";
}
.mdi-football:before {
  content: "\f312";
}
.mdi-football-helmet:before {
  content: "\f313";
}
.mdi-format-align-center:before {
  content: "\f314";
}
.mdi-format-align-justify:before {
  content: "\f315";
}
.mdi-format-align-left:before {
  content: "\f316";
}
.mdi-format-align-right:before {
  content: "\f317";
}
.mdi-format-bold:before {
  content: "\f318";
}
.mdi-format-clear:before {
  content: "\f319";
}
.mdi-format-color-fill:before {
  content: "\f31a";
}
.mdi-format-float-center:before {
  content: "\f31b";
}
.mdi-format-float-left:before {
  content: "\f31c";
}
.mdi-format-float-none:before {
  content: "\f31d";
}
.mdi-format-float-right:before {
  content: "\f31e";
}
.mdi-format-header-1:before {
  content: "\f31f";
}
.mdi-format-header-2:before {
  content: "\f320";
}
.mdi-format-header-3:before {
  content: "\f321";
}
.mdi-format-header-4:before {
  content: "\f322";
}
.mdi-format-header-5:before {
  content: "\f323";
}
.mdi-format-header-6:before {
  content: "\f324";
}
.mdi-format-header-decrease:before {
  content: "\f325";
}
.mdi-format-header-equal:before {
  content: "\f326";
}
.mdi-format-header-increase:before {
  content: "\f327";
}
.mdi-format-header-pound:before {
  content: "\f328";
}
.mdi-format-indent-decrease:before {
  content: "\f329";
}
.mdi-format-indent-increase:before {
  content: "\f32a";
}
.mdi-format-italic:before {
  content: "\f32b";
}
.mdi-format-line-spacing:before {
  content: "\f32c";
}
.mdi-format-list-bulleted:before {
  content: "\f32d";
}
.mdi-format-list-numbers:before {
  content: "\f32e";
}
.mdi-format-paint:before {
  content: "\f32f";
}
.mdi-format-paragraph:before {
  content: "\f330";
}
.mdi-format-quote:before {
  content: "\f331";
}
.mdi-format-size:before {
  content: "\f332";
}
.mdi-format-strikethrough:before {
  content: "\f333";
}
.mdi-format-subscript:before {
  content: "\f334";
}
.mdi-format-superscript:before {
  content: "\f335";
}
.mdi-format-text:before {
  content: "\f336";
}
.mdi-format-textdirection-l-to-r:before {
  content: "\f337";
}
.mdi-format-textdirection-r-to-l:before {
  content: "\f338";
}
.mdi-format-underline:before {
  content: "\f339";
}
.mdi-format-wrap-inline:before {
  content: "\f33a";
}
.mdi-format-wrap-square:before {
  content: "\f33b";
}
.mdi-format-wrap-tight:before {
  content: "\f33c";
}
.mdi-format-wrap-top-bottom:before {
  content: "\f33d";
}
.mdi-forum:before {
  content: "\f33e";
}
.mdi-forward:before {
  content: "\f33f";
}
.mdi-foursquare:before {
  content: "\f340";
}
.mdi-fridge:before {
  content: "\f341";
}
.mdi-fullscreen:before {
  content: "\f342";
}
.mdi-fullscreen-exit:before {
  content: "\f343";
}
.mdi-function:before {
  content: "\f344";
}
.mdi-gamepad:before {
  content: "\f345";
}
.mdi-gamepad-variant:before {
  content: "\f346";
}
.mdi-gas-station:before {
  content: "\f347";
}
.mdi-gavel:before {
  content: "\f348";
}
.mdi-gender-female:before {
  content: "\f349";
}
.mdi-gender-male:before {
  content: "\f34a";
}
.mdi-gender-male-female:before {
  content: "\f34b";
}
.mdi-gender-transgender:before {
  content: "\f34c";
}
.mdi-gift:before {
  content: "\f34d";
}
.mdi-git:before {
  content: "\f34e";
}
.mdi-github-box:before {
  content: "\f34f";
}
.mdi-github-circle:before {
  content: "\f350";
}
.mdi-glass-flute:before {
  content: "\f351";
}
.mdi-glass-mug:before {
  content: "\f352";
}
.mdi-glass-stange:before {
  content: "\f353";
}
.mdi-glass-tulip:before {
  content: "\f354";
}
.mdi-glasses:before {
  content: "\f355";
}
.mdi-gmail:before {
  content: "\f356";
}
.mdi-google:before {
  content: "\f357";
}
.mdi-google-chrome:before {
  content: "\f358";
}
.mdi-google-circles:before {
  content: "\f359";
}
.mdi-google-circles-communities:before {
  content: "\f35a";
}
.mdi-google-circles-extended:before {
  content: "\f35b";
}
.mdi-google-circles-group:before {
  content: "\f35c";
}
.mdi-google-controller:before {
  content: "\f35d";
}
.mdi-google-controller-off:before {
  content: "\f35e";
}
.mdi-google-drive:before {
  content: "\f35f";
}
.mdi-google-earth:before {
  content: "\f360";
}
.mdi-google-glass:before {
  content: "\f361";
}
.mdi-google-maps:before {
  content: "\f362";
}
.mdi-google-pages:before {
  content: "\f363";
}
.mdi-google-play:before {
  content: "\f364";
}
.mdi-google-plus:before {
  content: "\f365";
}
.mdi-google-plus-box:before {
  content: "\f366";
}
.mdi-grid:before {
  content: "\f367";
}
.mdi-grid-off:before {
  content: "\f368";
}
.mdi-group:before {
  content: "\f369";
}
.mdi-guitar:before {
  content: "\f36a";
}
.mdi-guitar-pick:before {
  content: "\f36b";
}
.mdi-guitar-pick-outline:before {
  content: "\f36c";
}
.mdi-hand-pointing-right:before {
  content: "\f36d";
}
.mdi-hanger:before {
  content: "\f36e";
}
.mdi-hangouts:before {
  content: "\f36f";
}
.mdi-harddisk:before {
  content: "\f370";
}
.mdi-headphones:before {
  content: "\f371";
}
.mdi-headphones-box:before {
  content: "\f372";
}
.mdi-headphones-settings:before {
  content: "\f373";
}
.mdi-headset:before {
  content: "\f374";
}
.mdi-headset-dock:before {
  content: "\f375";
}
.mdi-headset-off:before {
  content: "\f376";
}
.mdi-heart:before {
  content: "\f377";
}
.mdi-heart-box:before {
  content: "\f378";
}
.mdi-heart-box-outline:before {
  content: "\f379";
}
.mdi-heart-broken:before {
  content: "\f37a";
}
.mdi-heart-outline:before {
  content: "\f37b";
}
.mdi-help:before {
  content: "\f37c";
}
.mdi-help-circle:before {
  content: "\f37d";
}
.mdi-hexagon:before {
  content: "\f37e";
}
.mdi-hexagon-outline:before {
  content: "\f37f";
}
.mdi-history:before {
  content: "\f380";
}
.mdi-hololens:before {
  content: "\f381";
}
.mdi-home:before {
  content: "\f382";
}
.mdi-home-modern:before {
  content: "\f383";
}
.mdi-home-variant:before {
  content: "\f384";
}
.mdi-hops:before {
  content: "\f385";
}
.mdi-hospital:before {
  content: "\f386";
}
.mdi-hospital-building:before {
  content: "\f387";
}
.mdi-hospital-marker:before {
  content: "\f388";
}
.mdi-hotel:before {
  content: "\f389";
}
.mdi-houzz:before {
  content: "\f38a";
}
.mdi-houzz-box:before {
  content: "\f38b";
}
.mdi-human:before {
  content: "\f38c";
}
.mdi-human-child:before {
  content: "\f38d";
}
.mdi-human-male-female:before {
  content: "\f38e";
}
.mdi-image-album:before {
  content: "\f38f";
}
.mdi-image-area:before {
  content: "\f390";
}
.mdi-image-area-close:before {
  content: "\f391";
}
.mdi-image-broken:before {
  content: "\f392";
}
.mdi-image-filter:before {
  content: "\f393";
}
.mdi-image-filter-black-white:before {
  content: "\f394";
}
.mdi-image-filter-center-focus:before {
  content: "\f395";
}
.mdi-image-filter-drama:before {
  content: "\f396";
}
.mdi-image-filter-frames:before {
  content: "\f397";
}
.mdi-image-filter-hdr:before {
  content: "\f398";
}
.mdi-image-filter-none:before {
  content: "\f399";
}
.mdi-image-filter-tilt-shift:before {
  content: "\f39a";
}
.mdi-image-filter-vintage:before {
  content: "\f39b";
}
.mdi-import:before {
  content: "\f39c";
}
.mdi-inbox:before {
  content: "\f39d";
}
.mdi-information:before {
  content: "\f39e";
}
.mdi-information-outline:before {
  content: "\f39f";
}
.mdi-instagram:before {
  content: "\f3a0";
}
.mdi-instapaper:before {
  content: "\f3a1";
}
.mdi-internet-explorer:before {
  content: "\f3a2";
}
.mdi-invert-colors:before {
  content: "\f3a3";
}
.mdi-jira:before {
  content: "\f3a4";
}
.mdi-jsfiddle:before {
  content: "\f3a5";
}
.mdi-keg:before {
  content: "\f3a6";
}
.mdi-key:before {
  content: "\f3a7";
}
.mdi-key-change:before {
  content: "\f3a8";
}
.mdi-key-minus:before {
  content: "\f3a9";
}
.mdi-key-plus:before {
  content: "\f3aa";
}
.mdi-key-remove:before {
  content: "\f3ab";
}
.mdi-key-variant:before {
  content: "\f3ac";
}
.mdi-keyboard:before {
  content: "\f3ad";
}
.mdi-keyboard-backspace:before {
  content: "\f3ae";
}
.mdi-keyboard-caps:before {
  content: "\f3af";
}
.mdi-keyboard-close:before {
  content: "\f3b0";
}
.mdi-keyboard-off:before {
  content: "\f3b1";
}
.mdi-keyboard-return:before {
  content: "\f3b2";
}
.mdi-keyboard-tab:before {
  content: "\f3b3";
}
.mdi-keyboard-variant:before {
  content: "\f3b4";
}
.mdi-label:before {
  content: "\f3b5";
}
.mdi-label-outline:before {
  content: "\f3b6";
}
.mdi-language-csharp:before {
  content: "\f3b7";
}
.mdi-language-css3:before {
  content: "\f3b8";
}
.mdi-language-html5:before {
  content: "\f3b9";
}
.mdi-language-javascript:before {
  content: "\f3ba";
}
.mdi-language-python:before {
  content: "\f3bb";
}
.mdi-language-python-text:before {
  content: "\f3bc";
}
.mdi-laptop:before {
  content: "\f3bd";
}
.mdi-laptop-chromebook:before {
  content: "\f3be";
}
.mdi-laptop-mac:before {
  content: "\f3bf";
}
.mdi-laptop-windows:before {
  content: "\f3c0";
}
.mdi-lastfm:before {
  content: "\f3c1";
}
.mdi-launch:before {
  content: "\f3c2";
}
.mdi-layers:before {
  content: "\f3c3";
}
.mdi-layers-off:before {
  content: "\f3c4";
}
.mdi-leaf:before {
  content: "\f3c5";
}
.mdi-library:before {
  content: "\f3c6";
}
.mdi-library-books:before {
  content: "\f3c7";
}
.mdi-library-music:before {
  content: "\f3c8";
}
.mdi-library-plus:before {
  content: "\f3c9";
}
.mdi-lightbulb:before {
  content: "\f3ca";
}
.mdi-lightbulb-outline:before {
  content: "\f3cb";
}
.mdi-link:before {
  content: "\f3cc";
}
.mdi-link-off:before {
  content: "\f3cd";
}
.mdi-link-variant:before {
  content: "\f3ce";
}
.mdi-link-variant-off:before {
  content: "\f3cf";
}
.mdi-linkedin:before {
  content: "\f3d0";
}
.mdi-linkedin-box:before {
  content: "\f3d1";
}
.mdi-linux:before {
  content: "\f3d2";
}
.mdi-lock:before {
  content: "\f3d3";
}
.mdi-lock-open:before {
  content: "\f3d4";
}
.mdi-lock-open-outline:before {
  content: "\f3d5";
}
.mdi-lock-outline:before {
  content: "\f3d6";
}
.mdi-login:before {
  content: "\f3d7";
}
.mdi-logout:before {
  content: "\f3d8";
}
.mdi-looks:before {
  content: "\f3d9";
}
.mdi-loupe:before {
  content: "\f3da";
}
.mdi-lumx:before {
  content: "\f3db";
}
.mdi-magnet:before {
  content: "\f3dc";
}
.mdi-magnet-on:before {
  content: "\f3dd";
}
.mdi-magnify:before {
  content: "\f3de";
}
.mdi-magnify-minus:before {
  content: "\f3df";
}
.mdi-magnify-plus:before {
  content: "\f3e0";
}
.mdi-mail-ru:before {
  content: "\f3e1";
}
.mdi-map:before {
  content: "\f3e2";
}
.mdi-map-marker:before {
  content: "\f3e3";
}
.mdi-map-marker-circle:before {
  content: "\f3e4";
}
.mdi-map-marker-multiple:before {
  content: "\f3e5";
}
.mdi-map-marker-off:before {
  content: "\f3e6";
}
.mdi-map-marker-radius:before {
  content: "\f3e7";
}
.mdi-margin:before {
  content: "\f3e8";
}
.mdi-markdown:before {
  content: "\f3e9";
}
.mdi-marker-check:before {
  content: "\f3ea";
}
.mdi-martini:before {
  content: "\f3eb";
}
.mdi-material-ui:before {
  content: "\f3ec";
}
.mdi-math-compass:before {
  content: "\f3ed";
}
.mdi-maxcdn:before {
  content: "\f3ee";
}
.mdi-medium:before {
  content: "\f3ef";
}
.mdi-memory:before {
  content: "\f3f0";
}
.mdi-menu:before {
  content: "\f3f1";
}
.mdi-menu-down:before {
  content: "\f3f2";
}
.mdi-menu-left:before {
  content: "\f3f3";
}
.mdi-menu-right:before {
  content: "\f3f4";
}
.mdi-menu-up:before {
  content: "\f3f5";
}
.mdi-message:before {
  content: "\f3f6";
}
.mdi-message-alert:before {
  content: "\f3f7";
}
.mdi-message-draw:before {
  content: "\f3f8";
}
.mdi-message-image:before {
  content: "\f3f9";
}
.mdi-message-processing:before {
  content: "\f3fa";
}
.mdi-message-reply:before {
  content: "\f3fb";
}
.mdi-message-text:before {
  content: "\f3fc";
}
.mdi-message-text-outline:before {
  content: "\f3fd";
}
.mdi-message-video:before {
  content: "\f3fe";
}
.mdi-microphone:before {
  content: "\f3ff";
}
.mdi-microphone-off:before {
  content: "\f400";
}
.mdi-microphone-outline:before {
  content: "\f401";
}
.mdi-microphone-settings:before {
  content: "\f402";
}
.mdi-microphone-variant:before {
  content: "\f403";
}
.mdi-microphone-variant-off:before {
  content: "\f404";
}
.mdi-minus:before {
  content: "\f405";
}
.mdi-minus-box:before {
  content: "\f406";
}
.mdi-minus-circle:before {
  content: "\f407";
}
.mdi-minus-circle-outline:before {
  content: "\f408";
}
.mdi-minus-network:before {
  content: "\f409";
}
.mdi-monitor:before {
  content: "\f40a";
}
.mdi-monitor-multiple:before {
  content: "\f40b";
}
.mdi-more:before {
  content: "\f40c";
}
.mdi-motorbike:before {
  content: "\f40d";
}
.mdi-mouse:before {
  content: "\f40e";
}
.mdi-mouse-off:before {
  content: "\f40f";
}
.mdi-mouse-variant:before {
  content: "\f410";
}
.mdi-mouse-variant-off:before {
  content: "\f411";
}
.mdi-movie:before {
  content: "\f412";
}
.mdi-multiplication:before {
  content: "\f413";
}
.mdi-multiplication-box:before {
  content: "\f414";
}
.mdi-music-box:before {
  content: "\f415";
}
.mdi-music-box-outline:before {
  content: "\f416";
}
.mdi-music-circle:before {
  content: "\f417";
}
.mdi-music-note:before {
  content: "\f418";
}
.mdi-music-note-eighth:before {
  content: "\f419";
}
.mdi-music-note-half:before {
  content: "\f41a";
}
.mdi-music-note-off:before {
  content: "\f41b";
}
.mdi-music-note-quarter:before {
  content: "\f41c";
}
.mdi-music-note-sixteenth:before {
  content: "\f41d";
}
.mdi-music-note-whole:before {
  content: "\f41e";
}
.mdi-nature:before {
  content: "\f41f";
}
.mdi-nature-people:before {
  content: "\f420";
}
.mdi-navigation:before {
  content: "\f421";
}
.mdi-needle:before {
  content: "\f422";
}
.mdi-nest-protect:before {
  content: "\f423";
}
.mdi-nest-thermostat:before {
  content: "\f424";
}
.mdi-newspaper:before {
  content: "\f425";
}
.mdi-nfc:before {
  content: "\f426";
}
.mdi-nfc-tap:before {
  content: "\f427";
}
.mdi-nfc-variant:before {
  content: "\f428";
}
.mdi-note:before {
  content: "\f429";
}
.mdi-note-outline:before {
  content: "\f42a";
}
.mdi-note-text:before {
  content: "\f42b";
}
.mdi-numeric:before {
  content: "\f42c";
}
.mdi-numeric-0-box:before {
  content: "\f42d";
}
.mdi-numeric-0-box-multiple-outline:before {
  content: "\f42e";
}
.mdi-numeric-0-box-outline:before {
  content: "\f42f";
}
.mdi-numeric-1-box:before {
  content: "\f430";
}
.mdi-numeric-1-box-multiple-outline:before {
  content: "\f431";
}
.mdi-numeric-1-box-outline:before {
  content: "\f432";
}
.mdi-numeric-2-box:before {
  content: "\f433";
}
.mdi-numeric-2-box-multiple-outline:before {
  content: "\f434";
}
.mdi-numeric-2-box-outline:before {
  content: "\f435";
}
.mdi-numeric-3-box:before {
  content: "\f436";
}
.mdi-numeric-3-box-multiple-outline:before {
  content: "\f437";
}
.mdi-numeric-3-box-outline:before {
  content: "\f438";
}
.mdi-numeric-4-box:before {
  content: "\f439";
}
.mdi-numeric-4-box-multiple-outline:before {
  content: "\f43a";
}
.mdi-numeric-4-box-outline:before {
  content: "\f43b";
}
.mdi-numeric-5-box:before {
  content: "\f43c";
}
.mdi-numeric-5-box-multiple-outline:before {
  content: "\f43d";
}
.mdi-numeric-5-box-outline:before {
  content: "\f43e";
}
.mdi-numeric-6-box:before {
  content: "\f43f";
}
.mdi-numeric-6-box-multiple-outline:before {
  content: "\f440";
}
.mdi-numeric-6-box-outline:before {
  content: "\f441";
}
.mdi-numeric-7-box:before {
  content: "\f442";
}
.mdi-numeric-7-box-multiple-outline:before {
  content: "\f443";
}
.mdi-numeric-7-box-outline:before {
  content: "\f444";
}
.mdi-numeric-8-box:before {
  content: "\f445";
}
.mdi-numeric-8-box-multiple-outline:before {
  content: "\f446";
}
.mdi-numeric-8-box-outline:before {
  content: "\f447";
}
.mdi-numeric-9-box:before {
  content: "\f448";
}
.mdi-numeric-9-box-multiple-outline:before {
  content: "\f449";
}
.mdi-numeric-9-box-outline:before {
  content: "\f44a";
}
.mdi-numeric-9-plus-box:before {
  content: "\f44b";
}
.mdi-numeric-9-plus-box-multiple-outline:before {
  content: "\f44c";
}
.mdi-numeric-9-plus-box-outline:before {
  content: "\f44d";
}
.mdi-nutriton:before {
  content: "\f44e";
}
.mdi-odnoklassniki:before {
  content: "\f44f";
}
.mdi-office:before {
  content: "\f450";
}
.mdi-oil:before {
  content: "\f451";
}
.mdi-omega:before {
  content: "\f452";
}
.mdi-onedrive:before {
  content: "\f453";
}
.mdi-open-in-app:before {
  content: "\f454";
}
.mdi-open-in-new:before {
  content: "\f455";
}
.mdi-ornament:before {
  content: "\f456";
}
.mdi-ornament-variant:before {
  content: "\f457";
}
.mdi-outbox:before {
  content: "\f458";
}
.mdi-owl:before {
  content: "\f459";
}
.mdi-package:before {
  content: "\f45a";
}
.mdi-package-down:before {
  content: "\f45b";
}
.mdi-package-up:before {
  content: "\f45c";
}
.mdi-package-variant:before {
  content: "\f45d";
}
.mdi-package-variant-closed:before {
  content: "\f45e";
}
.mdi-palette:before {
  content: "\f45f";
}
.mdi-palette-advanced:before {
  content: "\f460";
}
.mdi-panda:before {
  content: "\f461";
}
.mdi-pandora:before {
  content: "\f462";
}
.mdi-panorama:before {
  content: "\f463";
}
.mdi-panorama-fisheye:before {
  content: "\f464";
}
.mdi-panorama-horizontal:before {
  content: "\f465";
}
.mdi-panorama-vertical:before {
  content: "\f466";
}
.mdi-panorama-wide-angle:before {
  content: "\f467";
}
.mdi-paper-cut-vertical:before {
  content: "\f468";
}
.mdi-paperclip:before {
  content: "\f469";
}
.mdi-parking:before {
  content: "\f46a";
}
.mdi-pause:before {
  content: "\f46b";
}
.mdi-pause-circle:before {
  content: "\f46c";
}
.mdi-pause-circle-outline:before {
  content: "\f46d";
}
.mdi-pause-octagon:before {
  content: "\f46e";
}
.mdi-pause-octagon-outline:before {
  content: "\f46f";
}
.mdi-paw:before {
  content: "\f470";
}
.mdi-pen:before {
  content: "\f471";
}
.mdi-pencil:before {
  content: "\f472";
}
.mdi-pencil-box:before {
  content: "\f473";
}
.mdi-pencil-box-outline:before {
  content: "\f474";
}
.mdi-percent:before {
  content: "\f475";
}
.mdi-pharmacy:before {
  content: "\f476";
}
.mdi-phone:before {
  content: "\f477";
}
.mdi-phone-bluetooth:before {
  content: "\f478";
}
.mdi-phone-forward:before {
  content: "\f479";
}
.mdi-phone-hangup:before {
  content: "\f47a";
}
.mdi-phone-in-talk:before {
  content: "\f47b";
}
.mdi-phone-incoming:before {
  content: "\f47c";
}
.mdi-phone-locked:before {
  content: "\f47d";
}
.mdi-phone-log:before {
  content: "\f47e";
}
.mdi-phone-missed:before {
  content: "\f47f";
}
.mdi-phone-outgoing:before {
  content: "\f480";
}
.mdi-phone-paused:before {
  content: "\f481";
}
.mdi-phone-settings:before {
  content: "\f482";
}
.mdi-pig:before {
  content: "\f483";
}
.mdi-pill:before {
  content: "\f484";
}
.mdi-pin:before {
  content: "\f485";
}
.mdi-pin-off:before {
  content: "\f486";
}
.mdi-pine-tree:before {
  content: "\f487";
}
.mdi-pine-tree-box:before {
  content: "\f488";
}
.mdi-pinterest:before {
  content: "\f489";
}
.mdi-pinterest-box:before {
  content: "\f48a";
}
.mdi-pizza:before {
  content: "\f48b";
}
.mdi-play:before {
  content: "\f48c";
}
.mdi-play-box-outline:before {
  content: "\f48d";
}
.mdi-play-circle:before {
  content: "\f48e";
}
.mdi-play-circle-outline:before {
  content: "\f48f";
}
.mdi-playlist-minus:before {
  content: "\f490";
}
.mdi-playlist-plus:before {
  content: "\f491";
}
.mdi-playstation:before {
  content: "\f492";
}
.mdi-plus:before {
  content: "\f493";
}
.mdi-plus-box:before {
  content: "\f494";
}
.mdi-plus-circle:before {
  content: "\f495";
}
.mdi-plus-circle-outline:before {
  content: "\f496";
}
.mdi-plus-network:before {
  content: "\f497";
}
.mdi-plus-one:before {
  content: "\f498";
}
.mdi-pocket:before {
  content: "\f499";
}
.mdi-poll:before {
  content: "\f49a";
}
.mdi-poll-box:before {
  content: "\f49b";
}
.mdi-polymer:before {
  content: "\f49c";
}
.mdi-popcorn:before {
  content: "\f49d";
}
.mdi-pound:before {
  content: "\f49e";
}
.mdi-pound-box:before {
  content: "\f49f";
}
.mdi-power:before {
  content: "\f4a0";
}
.mdi-power-settings:before {
  content: "\f4a1";
}
.mdi-power-socket:before {
  content: "\f4a2";
}
.mdi-presentation:before {
  content: "\f4a3";
}
.mdi-presentation-play:before {
  content: "\f4a4";
}
.mdi-printer:before {
  content: "\f4a5";
}
.mdi-printer-3d:before {
  content: "\f4a6";
}
.mdi-pulse:before {
  content: "\f4a7";
}
.mdi-puzzle:before {
  content: "\f4a8";
}
.mdi-qrcode:before {
  content: "\f4a9";
}
.mdi-quadcopter:before {
  content: "\f4aa";
}
.mdi-quality-high:before {
  content: "\f4ab";
}
.mdi-quicktime:before {
  content: "\f4ac";
}
.mdi-radiator:before {
  content: "\f4ad";
}
.mdi-radio:before {
  content: "\f4ae";
}
.mdi-radio-tower:before {
  content: "\f4af";
}
.mdi-radioactive:before {
  content: "\f4b0";
}
.mdi-radiobox-blank:before {
  content: "\f4b1";
}
.mdi-radiobox-marked:before {
  content: "\f4b2";
}
.mdi-raspberrypi:before {
  content: "\f4b3";
}
.mdi-rdio:before {
  content: "\f4b4";
}
.mdi-read:before {
  content: "\f4b5";
}
.mdi-readability:before {
  content: "\f4b6";
}
.mdi-receipt:before {
  content: "\f4b7";
}
.mdi-recycle:before {
  content: "\f4b8";
}
.mdi-redo:before {
  content: "\f4b9";
}
.mdi-redo-variant:before {
  content: "\f4ba";
}
.mdi-refresh:before {
  content: "\f4bb";
}
.mdi-relative-scale:before {
  content: "\f4bc";
}
.mdi-reload:before {
  content: "\f4bd";
}
.mdi-remote:before {
  content: "\f4be";
}
.mdi-rename-box:before {
  content: "\f4bf";
}
.mdi-repeat:before {
  content: "\f4c0";
}
.mdi-repeat-off:before {
  content: "\f4c1";
}
.mdi-repeat-once:before {
  content: "\f4c2";
}
.mdi-replay:before {
  content: "\f4c3";
}
.mdi-reply:before {
  content: "\f4c4";
}
.mdi-reply-all:before {
  content: "\f4c5";
}
.mdi-reproduction:before {
  content: "\f4c6";
}
.mdi-resize-bottom-right:before {
  content: "\f4c7";
}
.mdi-responsive:before {
  content: "\f4c8";
}
.mdi-rewind:before {
  content: "\f4c9";
}
.mdi-ribbon:before {
  content: "\f4ca";
}
.mdi-road:before {
  content: "\f4cb";
}
.mdi-rocket:before {
  content: "\f4cc";
}
.mdi-rotate-3d:before {
  content: "\f4cd";
}
.mdi-rotate-left:before {
  content: "\f4ce";
}
.mdi-rotate-left-variant:before {
  content: "\f4cf";
}
.mdi-rotate-right:before {
  content: "\f4d0";
}
.mdi-rotate-right-variant:before {
  content: "\f4d1";
}
.mdi-routes:before {
  content: "\f4d2";
}
.mdi-rss:before {
  content: "\f4d3";
}
.mdi-rss-box:before {
  content: "\f4d4";
}
.mdi-ruler:before {
  content: "\f4d5";
}
.mdi-run:before {
  content: "\f4d6";
}
.mdi-sale:before {
  content: "\f4d7";
}
.mdi-satellite:before {
  content: "\f4d8";
}
.mdi-satellite-variant:before {
  content: "\f4d9";
}
.mdi-scale:before {
  content: "\f4da";
}
.mdi-scale-bathroom:before {
  content: "\f4db";
}
.mdi-school:before {
  content: "\f4dc";
}
.mdi-screen-rotation:before {
  content: "\f4dd";
}
.mdi-screen-rotation-lock:before {
  content: "\f4de";
}
.mdi-script:before {
  content: "\f4df";
}
.mdi-sd:before {
  content: "\f4e0";
}
.mdi-security:before {
  content: "\f4e1";
}
.mdi-security-network:before {
  content: "\f4e2";
}
.mdi-select:before {
  content: "\f4e3";
}
.mdi-select-all:before {
  content: "\f4e4";
}
.mdi-select-inverse:before {
  content: "\f4e5";
}
.mdi-select-off:before {
  content: "\f4e6";
}
.mdi-send:before {
  content: "\f4e7";
}
.mdi-server:before {
  content: "\f4e8";
}
.mdi-server-minus:before {
  content: "\f4e9";
}
.mdi-server-network:before {
  content: "\f4ea";
}
.mdi-server-network-off:before {
  content: "\f4eb";
}
.mdi-server-off:before {
  content: "\f4ec";
}
.mdi-server-plus:before {
  content: "\f4ed";
}
.mdi-server-remove:before {
  content: "\f4ee";
}
.mdi-server-security:before {
  content: "\f4ef";
}
.mdi-settings:before {
  content: "\f4f0";
}
.mdi-settings-box:before {
  content: "\f4f1";
}
.mdi-shape-plus:before {
  content: "\f4f2";
}
.mdi-share:before {
  content: "\f4f3";
}
.mdi-share-variant:before {
  content: "\f4f4";
}
.mdi-shield:before {
  content: "\f4f5";
}
.mdi-shield-outline:before {
  content: "\f4f6";
}
.mdi-shopping:before {
  content: "\f4f7";
}
.mdi-shopping-music:before {
  content: "\f4f8";
}
.mdi-shuffle:before {
  content: "\f4f9";
}
.mdi-sigma:before {
  content: "\f4fa";
}
.mdi-sign-caution:before {
  content: "\f4fb";
}
.mdi-signal:before {
  content: "\f4fc";
}
.mdi-silverware:before {
  content: "\f4fd";
}
.mdi-silverware-fork:before {
  content: "\f4fe";
}
.mdi-silverware-spoon:before {
  content: "\f4ff";
}
.mdi-silverware-variant:before {
  content: "\f500";
}
.mdi-sim-alert:before {
  content: "\f501";
}
.mdi-sitemap:before {
  content: "\f502";
}
.mdi-skip-next:before {
  content: "\f503";
}
.mdi-skip-previous:before {
  content: "\f504";
}
.mdi-skype:before {
  content: "\f505";
}
.mdi-skype-business:before {
  content: "\f506";
}
.mdi-sleep:before {
  content: "\f507";
}
.mdi-sleep-off:before {
  content: "\f508";
}
.mdi-smoking:before {
  content: "\f509";
}
.mdi-smoking-off:before {
  content: "\f50a";
}
.mdi-snapchat:before {
  content: "\f50b";
}
.mdi-snowman:before {
  content: "\f50c";
}
.mdi-sofa:before {
  content: "\f50d";
}
.mdi-sort:before {
  content: "\f50e";
}
.mdi-sort-alphabetical:before {
  content: "\f50f";
}
.mdi-sort-ascending:before {
  content: "\f510";
}
.mdi-sort-descending:before {
  content: "\f511";
}
.mdi-sort-numeric:before {
  content: "\f512";
}
.mdi-sort-variant:before {
  content: "\f513";
}
.mdi-soundcloud:before {
  content: "\f514";
}
.mdi-source-fork:before {
  content: "\f515";
}
.mdi-source-pull:before {
  content: "\f516";
}
.mdi-speaker:before {
  content: "\f517";
}
.mdi-speaker-off:before {
  content: "\f518";
}
.mdi-speedometer:before {
  content: "\f519";
}
.mdi-spellcheck:before {
  content: "\f51a";
}
.mdi-spotify:before {
  content: "\f51b";
}
.mdi-spotlight:before {
  content: "\f51c";
}
.mdi-spotlight-beam:before {
  content: "\f51d";
}
.mdi-square-inc:before {
  content: "\f51e";
}
.mdi-square-inc-cash:before {
  content: "\f51f";
}
.mdi-stackoverflow:before {
  content: "\f520";
}
.mdi-star:before {
  content: "\f521";
}
.mdi-star-circle:before {
  content: "\f522";
}
.mdi-star-half:before {
  content: "\f523";
}
.mdi-star-outline:before {
  content: "\f524";
}
.mdi-steam:before {
  content: "\f525";
}
.mdi-stethoscope:before {
  content: "\f526";
}
.mdi-stocking:before {
  content: "\f527";
}
.mdi-stop:before {
  content: "\f528";
}
.mdi-store:before {
  content: "\f529";
}
.mdi-store-24-hour:before {
  content: "\f52a";
}
.mdi-stove:before {
  content: "\f52b";
}
.mdi-subway:before {
  content: "\f52c";
}
.mdi-sunglasses:before {
  content: "\f52d";
}
.mdi-swap-horizontal:before {
  content: "\f52e";
}
.mdi-swap-vertical:before {
  content: "\f52f";
}
.mdi-swim:before {
  content: "\f530";
}
.mdi-sword:before {
  content: "\f531";
}
.mdi-sync:before {
  content: "\f532";
}
.mdi-sync-alert:before {
  content: "\f533";
}
.mdi-sync-off:before {
  content: "\f534";
}
.mdi-tab:before {
  content: "\f535";
}
.mdi-tab-unselected:before {
  content: "\f536";
}
.mdi-table:before {
  content: "\f537";
}
.mdi-table-column-plus-after:before {
  content: "\f538";
}
.mdi-table-column-plus-before:before {
  content: "\f539";
}
.mdi-table-column-remove:before {
  content: "\f53a";
}
.mdi-table-column-width:before {
  content: "\f53b";
}
.mdi-table-edit:before {
  content: "\f53c";
}
.mdi-table-large:before {
  content: "\f53d";
}
.mdi-table-row-height:before {
  content: "\f53e";
}
.mdi-table-row-plus-after:before {
  content: "\f53f";
}
.mdi-table-row-plus-before:before {
  content: "\f540";
}
.mdi-table-row-remove:before {
  content: "\f541";
}
.mdi-tablet:before {
  content: "\f542";
}
.mdi-tablet-android:before {
  content: "\f543";
}
.mdi-tablet-ipad:before {
  content: "\f544";
}
.mdi-tag:before {
  content: "\f545";
}
.mdi-tag-faces:before {
  content: "\f546";
}
.mdi-tag-multiple:before {
  content: "\f547";
}
.mdi-tag-outline:before {
  content: "\f548";
}
.mdi-tag-text-outline:before {
  content: "\f549";
}
.mdi-taxi:before {
  content: "\f54a";
}
.mdi-teamviewer:before {
  content: "\f54b";
}
.mdi-telegram:before {
  content: "\f54c";
}
.mdi-television:before {
  content: "\f54d";
}
.mdi-television-guide:before {
  content: "\f54e";
}
.mdi-temperature-celsius:before {
  content: "\f54f";
}
.mdi-temperature-fahrenheit:before {
  content: "\f550";
}
.mdi-temperature-kelvin:before {
  content: "\f551";
}
.mdi-tennis:before {
  content: "\f552";
}
.mdi-tent:before {
  content: "\f553";
}
.mdi-terrain:before {
  content: "\f554";
}
.mdi-text-to-speech:before {
  content: "\f555";
}
.mdi-text-to-speech-off:before {
  content: "\f556";
}
.mdi-texture:before {
  content: "\f557";
}
.mdi-theater:before {
  content: "\f558";
}
.mdi-theme-light-dark:before {
  content: "\f559";
}
.mdi-thermometer:before {
  content: "\f55a";
}
.mdi-thermometer-lines:before {
  content: "\f55b";
}
.mdi-thumb-down:before {
  content: "\f55c";
}
.mdi-thumb-down-outline:before {
  content: "\f55d";
}
.mdi-thumb-up:before {
  content: "\f55e";
}
.mdi-thumb-up-outline:before {
  content: "\f55f";
}
.mdi-thumbs-up-down:before {
  content: "\f560";
}
.mdi-ticket:before {
  content: "\f561";
}
.mdi-ticket-account:before {
  content: "\f562";
}
.mdi-tie:before {
  content: "\f563";
}
.mdi-timelapse:before {
  content: "\f564";
}
.mdi-timer:before {
  content: "\f565";
}
.mdi-timer-10:before {
  content: "\f566";
}
.mdi-timer-3:before {
  content: "\f567";
}
.mdi-timer-off:before {
  content: "\f568";
}
.mdi-timer-sand:before {
  content: "\f569";
}
.mdi-timetable:before {
  content: "\f56a";
}
.mdi-toggle-switch:before {
  content: "\f56b";
}
.mdi-toggle-switch-off:before {
  content: "\f56c";
}
.mdi-tooltip:before {
  content: "\f56d";
}
.mdi-tooltip-edit:before {
  content: "\f56e";
}
.mdi-tooltip-image:before {
  content: "\f56f";
}
.mdi-tooltip-outline:before {
  content: "\f570";
}
.mdi-tooltip-outline-plus:before {
  content: "\f571";
}
.mdi-tooltip-text:before {
  content: "\f572";
}
.mdi-tor:before {
  content: "\f573";
}
.mdi-traffic-light:before {
  content: "\f574";
}
.mdi-train:before {
  content: "\f575";
}
.mdi-tram:before {
  content: "\f576";
}
.mdi-transcribe:before {
  content: "\f577";
}
.mdi-transcribe-close:before {
  content: "\f578";
}
.mdi-transfer:before {
  content: "\f579";
}
.mdi-tree:before {
  content: "\f57a";
}
.mdi-trello:before {
  content: "\f57b";
}
.mdi-trending-down:before {
  content: "\f57c";
}
.mdi-trending-neutral:before {
  content: "\f57d";
}
.mdi-trending-up:before {
  content: "\f57e";
}
.mdi-trophy:before {
  content: "\f57f";
}
.mdi-trophy-award:before {
  content: "\f580";
}
.mdi-trophy-variant:before {
  content: "\f581";
}
.mdi-truck:before {
  content: "\f582";
}
.mdi-tshirt-crew:before {
  content: "\f583";
}
.mdi-tshirt-v:before {
  content: "\f584";
}
.mdi-tumblr:before {
  content: "\f585";
}
.mdi-tumblr-reblog:before {
  content: "\f586";
}
.mdi-twitch:before {
  content: "\f587";
}
.mdi-twitter:before {
  content: "\f588";
}
.mdi-twitter-box:before {
  content: "\f589";
}
.mdi-twitter-circle:before {
  content: "\f58a";
}
.mdi-twitter-retweet:before {
  content: "\f58b";
}
.mdi-ubuntu:before {
  content: "\f58c";
}
.mdi-umbrella:before {
  content: "\f58d";
}
.mdi-umbrella-outline:before {
  content: "\f58e";
}
.mdi-undo:before {
  content: "\f58f";
}
.mdi-undo-variant:before {
  content: "\f590";
}
.mdi-unfold-less:before {
  content: "\f591";
}
.mdi-unfold-more:before {
  content: "\f592";
}
.mdi-ungroup:before {
  content: "\f593";
}
.mdi-untappd:before {
  content: "\f594";
}
.mdi-upload:before {
  content: "\f595";
}
.mdi-usb:before {
  content: "\f596";
}
.mdi-vector-curve:before {
  content: "\f597";
}
.mdi-vector-point:before {
  content: "\f598";
}
.mdi-vector-square:before {
  content: "\f599";
}
.mdi-verified:before {
  content: "\f59a";
}
.mdi-vibrate:before {
  content: "\f59b";
}
.mdi-video:before {
  content: "\f59c";
}
.mdi-video-off:before {
  content: "\f59d";
}
.mdi-video-switch:before {
  content: "\f59e";
}
.mdi-view-agenda:before {
  content: "\f59f";
}
.mdi-view-array:before {
  content: "\f5a0";
}
.mdi-view-carousel:before {
  content: "\f5a1";
}
.mdi-view-column:before {
  content: "\f5a2";
}
.mdi-view-dashboard:before {
  content: "\f5a3";
}
.mdi-view-day:before {
  content: "\f5a4";
}
.mdi-view-grid:before {
  content: "\f5a5";
}
.mdi-view-headline:before {
  content: "\f5a6";
}
.mdi-view-list:before {
  content: "\f5a7";
}
.mdi-view-module:before {
  content: "\f5a8";
}
.mdi-view-quilt:before {
  content: "\f5a9";
}
.mdi-view-stream:before {
  content: "\f5aa";
}
.mdi-view-week:before {
  content: "\f5ab";
}
.mdi-vimeo:before {
  content: "\f5ac";
}
.mdi-vine:before {
  content: "\f5ad";
}
.mdi-vk:before {
  content: "\f5ae";
}
.mdi-vk-box:before {
  content: "\f5af";
}
.mdi-vk-circle:before {
  content: "\f5b0";
}
.mdi-voicemail:before {
  content: "\f5b1";
}
.mdi-volume-high:before {
  content: "\f5b2";
}
.mdi-volume-low:before {
  content: "\f5b3";
}
.mdi-volume-medium:before {
  content: "\f5b4";
}
.mdi-volume-off:before {
  content: "\f5b5";
}
.mdi-vpn:before {
  content: "\f5b6";
}
.mdi-walk:before {
  content: "\f5b7";
}
.mdi-wallet:before {
  content: "\f5b8";
}
.mdi-wallet-giftcard:before {
  content: "\f5b9";
}
.mdi-wallet-membership:before {
  content: "\f5ba";
}
.mdi-wallet-travel:before {
  content: "\f5bb";
}
.mdi-watch:before {
  content: "\f5bc";
}
.mdi-watch-export:before {
  content: "\f5bd";
}
.mdi-watch-import:before {
  content: "\f5be";
}
.mdi-water:before {
  content: "\f5bf";
}
.mdi-water-off:before {
  content: "\f5c0";
}
.mdi-water-pump:before {
  content: "\f5c1";
}
.mdi-weather-cloudy:before {
  content: "\f5c2";
}
.mdi-weather-fog:before {
  content: "\f5c3";
}
.mdi-weather-hail:before {
  content: "\f5c4";
}
.mdi-weather-lightning:before {
  content: "\f5c5";
}
.mdi-weather-night:before {
  content: "\f5c6";
}
.mdi-weather-partlycloudy:before {
  content: "\f5c7";
}
.mdi-weather-pouring:before {
  content: "\f5c8";
}
.mdi-weather-rainy:before {
  content: "\f5c9";
}
.mdi-weather-snowy:before {
  content: "\f5ca";
}
.mdi-weather-sunny:before {
  content: "\f5cb";
}
.mdi-weather-sunset:before {
  content: "\f5cc";
}
.mdi-weather-sunset-down:before {
  content: "\f5cd";
}
.mdi-weather-sunset-up:before {
  content: "\f5ce";
}
.mdi-weather-windy:before {
  content: "\f5cf";
}
.mdi-weather-windy-variant:before {
  content: "\f5d0";
}
.mdi-web:before {
  content: "\f5d1";
}
.mdi-webcam:before {
  content: "\f5d2";
}
.mdi-weight:before {
  content: "\f5d3";
}
.mdi-weight-kilogram:before {
  content: "\f5d4";
}
.mdi-whatsapp:before {
  content: "\f5d5";
}
.mdi-wheelchair-accessibility:before {
  content: "\f5d6";
}
.mdi-white-balance-auto:before {
  content: "\f5d7";
}
.mdi-white-balance-incandescent:before {
  content: "\f5d8";
}
.mdi-white-balance-irradescent:before {
  content: "\f5d9";
}
.mdi-white-balance-sunny:before {
  content: "\f5da";
}
.mdi-wifi:before {
  content: "\f5db";
}
.mdi-wii:before {
  content: "\f5dc";
}
.mdi-wikipedia:before {
  content: "\f5dd";
}
.mdi-window-close:before {
  content: "\f5de";
}
.mdi-window-closed:before {
  content: "\f5df";
}
.mdi-window-maximize:before {
  content: "\f5e0";
}
.mdi-window-minimize:before {
  content: "\f5e1";
}
.mdi-window-open:before {
  content: "\f5e2";
}
.mdi-window-restore:before {
  content: "\f5e3";
}
.mdi-windows:before {
  content: "\f5e4";
}
.mdi-wordpress:before {
  content: "\f5e5";
}
.mdi-worker:before {
  content: "\f5e6";
}
.mdi-wunderlist:before {
  content: "\f5e7";
}
.mdi-xbox:before {
  content: "\f5e8";
}
.mdi-xbox-controller:before {
  content: "\f5e9";
}
.mdi-xbox-controller-off:before {
  content: "\f5ea";
}
.mdi-xda:before {
  content: "\f5eb";
}
.mdi-xml:before {
  content: "\f5ec";
}
.mdi-yeast:before {
  content: "\f5ed";
}
.mdi-yelp:before {
  content: "\f5ee";
}
.mdi-youtube-play:before {
  content: "\f5ef";
}
.mdi-zip-box:before {
  content: "\f5f0";
}
.mdi-18px {
  font-size: 18px;
}
.mdi-24px {
  font-size: 24px;
}
.mdi-36px {
  font-size: 36px;
}
.mdi-48px {
  font-size: 48px;
}
.mdi-dark {
  color: rgba(0,0,0,0.54);
}
.mdi-dark.mdi-inactive {
  color: rgba(0,0,0,0.26);
}
.mdi-light {
  color: #fff;
}
.mdi-light.mdi-inactive {
  color: rgba(255,255,255,0.3);
}
body {
  padding: 0;
  margin: 0;
  font-family: Arial;
}
html,
body {
  height: 100%;
}
.page {
  top: 0;
  bottom: 0;
  margin-top: 60px;
  width: 100%;
  height: 100%;
}
.appBar {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  font-family: 'Courier New';
  font-size: 30px;
  font-weight: bold;
  border-bottom: solid 5px #000;
  background: rgba(220,220,220,0.7);
/*box-shadow: 2px 1px 2px #888;*/
}
.menu {
  padding: 5px;
}
.predicateListTitle {
/*border-bottom: solid gray 1px;*/
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
}
.documentList {
  background-color: #fff;
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: streach;
}
.document {
  padding-top: 10px;
  width: 100%;
  border-bottom: solid #808080 1px;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.doc {
  background: rgba(220,220,220,0.7);
}
.mdi-type {
  with: 50px;
}
.docTitle {
  font-family: 'Courier New';
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
}
.docDate {
  padding-left: 10px;
  font-size: 10px;
}
.author {
  padding-left: 10px;
  font-size: 12px;
}
.predicateTitle {
  margin: 5px;
  border: none;
  outline: none;
  width: 90%;
/*height: 90%;*/
/*border-bottom: solid gray 1px;*/
/*text-decoration: underline;*/
  height: 30px;
  font-family: 'Courier New';
/*margin-left: 10px;*/
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
/*font-weight: bold;*/
/*background-color: #f0f0f0;*/
}
.predicateTitle:disabled {
  background: rgba(0,0,0,0.1);
  border: none;
}
.predicateInput {
  bottom: 0;
  padding: 10px;
  border: none;
  outline: none;
  width: 90%;
  height: 90%;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 5px;
}
textarea {
  spellcheck: true;
}
.predicateInput:disabled {
  background: rgba(0,0,0,0.1);
  border: none;
}
.edit,
.save,
.new {
  z-index: 4;
  position: fixed;
  text-align: center;
  bottom: 0;
  right: 0;
  margin-bottom: 15px;
  margin-right: 15px;
  box-shadow: 2px 2px 2px #888;
  border: 4px solid #000;
  font-size: 40px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-transition: background-color 500ms ease-in 2s;
  -moz-transition: background-color 500ms ease-in 1s;
  -o-transition: background-color 500ms ease-in 1s;
  transition: background-color 500ms ease-in 1s;
}
.save {
  background-color: LawnGreen;
}
.edit {
  background: rgba(30,144,255,0.7);
}
.new {
  background: #ffa500;
}
