@import './mdi';

body {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

html,
body {
  height: 100%;
}

.page{
  top: 0;
  bottom: 0;
  margin-top: 60px;
  width: 100%;
  height: 100%;
}

.appBar {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  font-family: 'Courier New';
  font-size: 30px;
  font-weight: bold;
  border-bottom: solid 5px black;
  background: rgba(220,220,220,0.7);
  /*box-shadow: 2px 1px 2px #888;*/
}

.menu{
  padding: 5px;  
}

.predicateListTitle {
  /*border-bottom: solid gray 1px;*/
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
}

.documentList {
  background-color: white;
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: streach;
}

.document{
  padding-top: 10px;
  width: 100%;
  border-bottom: solid gray 1px;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: flex-start;  
}

.doc{
  background: rgba(220,220,220,0.7);
}

.details{

}

.mdi-type{
  with: 50px;
}

.docTitle{
  font-family: 'Courier New';
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
}

.docDate{
  padding-left: 10px;
  font-size: 10px;
}

.author{
  padding-left: 10px;
  font-size: 12px;
}

.predicateTitle{
  margin: 5px;
  border: none; 
  outline: none;
  width: 90%;
  /*height: 90%;*/
  /*border-bottom: solid gray 1px;*/
  /*text-decoration: underline;*/
  height: 30px;
  font-family: 'Courier New';
  /*margin-left: 10px;*/
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;

  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  /*font-weight: bold;*/
  /*background-color: #f0f0f0;*/
}

.predicateTitle:disabled {
  background: rgba(0,0,0,0.1); 
  border: none;
  // border-bottom: 3px solid rgba(30,144,255,0.7);
}

.predicateInput{
  bottom: 0;
  padding: 10px;
  border: none; 
  outline: none;
  width: 90%;
  height: 90%;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 5px; 
  // background:repeating-linear-gradient(
  //   to bottom,
  //   white, 
  //   white 98%,
  //   blue 2%, 
  //   blue
  // );
  // background-size: 100% 30px;
  
}

textarea {
  spellcheck:true;
}

.predicateInput:disabled{
  background: rgba(0,0,0,0.1); 
  border: none;
  // background:repeating-linear-gradient(
  //   to bottom,
  //   #f0f0f0, 
  //   #f0f0f0 98%,
  //   blue 2%, 
  //   blue
  // );
  // background-size: 100% 30px; 
    // border-left: 3px solid rgba(30,144,255,0.7);
    // border-left: 1px solid orange;
}

.edit, .save, .new{
  z-index: 4;
  position: fixed;
  text-align: center;
  bottom: 0;
  right: 0;
  margin-bottom: 15px;
  margin-right: 15px;
  box-shadow: 2px 2px 2px #888;
  border: 4px solid black;
  font-size: 40px;
  
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-transition: background-color 500ms ease-in 2s;
    -moz-transition: background-color 500ms ease-in 1s;
    -o-transition: background-color 500ms ease-in 1s;
    transition: background-color 500ms ease-in 1s;
}

// .save, .edit{
//   border-radius: 10%;
//   width: 55px;
//   height: 55px;
// }

.save{
  background-color: LawnGreen;
}

.edit{
  background: rgba(30,144,255,0.7);
}

.new{
  background: orange;
  
}